[General]
Name=300ZX Phosphor
ActiveTextColor=139,255,159
InactiveTextColor=78,163,106
UseTextShadow=false
TextShadowOffsetX=0
TextShadowOffsetY=0
TextShadowColor=0,0,0
TitleAlignment=Center
TitleVerticalAlignment=Center
Animation=0
DecorationButtons=5
ButtonSize=20
ButtonMarginTop=2
ButtonSpacing=8
ButtonWidth=20
ButtonHeight=20
CloseButton=close
MaximizeButton=maximize
MinimizeButton=minimize
RestoreButton=restore
KeepAboveButton=keepabove
KeepBelowButton=keepbelow
ShadeButton=shade
AllDesktopsButton=alldesktops

[Layout]
BorderLeft=1
BorderRight=1
BorderBottom=1
TitleEdgeTop=4
TitleEdgeBottom=4
TitleEdgeLeft=8
TitleEdgeRight=8
TitleBorderLeft=8
TitleBorderRight=8
TitleHeight=24
ButtonWidth=20
ButtonHeight=20
ButtonMarginTop=2
ButtonMarginLeft=0
ButtonMarginRight=0
ButtonSpacing=8
ExplicitButtonSpacer=0
PaddingTop=0
PaddingBottom=0
PaddingRight=0
PaddingLeft=0
